.active {
    background-color: black;
}

.nav-tabs .nav-link.active {
    background-color: #5956A4;
    color: white;
}

.navbar {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.navbar-nav .nav-link:hover {
}

.btn {
    border-radius: 20px;
    background-color: #8c8b8b;
    color: #d6ed17 !important;
}

    .btn:hover {
        background-color: #606060 !important;
        color: #000000;
    }
